.bx {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: black;
    padding-left: 250px;
    padding-right: 290px;
    padding-top: 50px;
  }
.navbar {
    overflow: hidden;
    background-color: black;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: aqua;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 250px;
    background-color:black;
    width: 58.6%;
    z-index: 1;
  }
  .subnav-content p {
    margin: 12px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: black;
    color: cornsilk;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: white;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }